.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style for form fields */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  height: 34px; /* To match input field height */
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Optional: Add additional styling for success and error messages */
.toastify-success {
  background-color: #28a745 !important;
}

.toastify-error {
  background-color: #dc3545 !important;
}

/* RegForm */

/* Registration form container */
.registration-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Form title */
.registration-container h2 {
  margin-bottom: 20px;
  text-align: center;
  
}

/* Form input fields */
.registration-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Form submit button */
.registration-container button {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Form submit button hover effect */
.registration-container button:hover {
  background-color: #0056b3;
}

/* Add Course */

/* Form container */
.add-course-form {
  max-width: 400px;
  margin: 0 auto;
}

/* Form title */
.add-course-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form input field */
.add-course-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Form submit button */
.add-course-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Form submit button hover effect */
.add-course-form button[type="submit"]:hover {
  background-color: #0056b3;
}
